html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

ol,
ul {
  list-style: none;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricprecision;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
  background: var(--background);
  color: var(--text-color);
}

body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-family: 'Rounded-Regular', sans-serif;
  color: var(--text-color);
}

#app {
  height: 100%;
}

body,
input,
textarea,
select,
button,
a {
  font:
    1.6rem 'Rounded-Regular',
    Arial,
    sans-serif;
  line-height: 1;
  text-decoration: none;

  &:focus {
    outline: none;
  }
}

strong,
b,
h1,
h2,
h3,
h4,
h5,
h6,
.bold {
  font-family: 'Rounded-Bold', Arial, sans-serif;
  font-weight: bold;
}

.container {
  max-width: 76.8rem;
  width: 100%;
  padding: 0.8rem;
  margin: 0 auto;
}
