@font-face {
  font-family: 'Rounded-Bold';
  src:
    url('./MPLUSRounded1c-Bold.woff2') format('woff2'),
    url('./MPLUSRounded1c-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rounded-Regular';
  src:
    url('./MPLUSRounded1c-Regular.woff2') format('woff2'),
    url('./MPLUSRounded1c-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
